.main{
    padding: 50px 0;
}
 
.main h1{
    font-size: 42px;
    color: #333;
    font-weight: 700;
}
 
.main p{
    font-size: 18px;
    color: #687074;
    width: 70%;
    margin: 15px auto;
}
 
.main p a {
	text-decoration: none;
	color: #ec1c23;
	font-weight: 900;
}
 
.main ul{
    margin-top: 50px;
    padding-left: 10px;
}
 
.main ul li{
    padding: 10px 15px;
    border: 2px solid #333;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    cursor: pointer;
    transition: all .5s ease;
	color: #333;
}
 
.main ul li.active,
.main ul li:hover{
    background-color: #ec1c23;
    color: #FFF;
    border: 2px solid #ec1c23;
}
 
.main ul li:last-of-type{
    margin-right: 0 ;
}
 
.main ul li:nth-of-type(3),
.main ul li:nth-of-type(4),
.main ul li:nth-of-type(5){
    flex-grow: 2
}
 
.main .container-fluid{
  overflow: hidden;
  padding: 0;
}
 
.main .container-fluid .col-md-3{
    padding: 0;
    float: left;
    transition: all 5s ease-in-out
}
 
.main .container-fluid img{
    width: 100%
}
 
@media (max-width: 767px){
    .main .container-fluid img{
        margin-bottom: 15px
    }
}